*{
    margin: 0;
    padding: 0;
}
body {
    color: #333;
    padding-top: 50px;
    margin-top: 20px;
    background-color: rebeccapurple;
}

.bigBlock{
    width: 100vh;
    height: 100vh;
    margin: 30px;
    position: relative;
    background-color: green;
    border: thin solid black;
}
.smallBlock{
    width: 50vh;
    height: 50vh;
    position: absolute;
    line-height: 100px;
    background-color: red;

}